Django<=1.9

dj-database-url
psycopg2
project-runpy
django-extensions
djangorestframework
requests
django-geojson


# Deployment
whitenoise
waitress


# Dev requirements
progressbar==2.3  # TODO investigate clint's progress bar
factory-boy
mock
