{% extends "base.html" %}

{% block head_title %}About this site{% endblock %}
{% block body_class %}page-about{% endblock %}


{% block content %}
  <h2>References</h2>
  <h3>Stories</h3>
  <ul>
    <li><a href="http://www.texastribune.org/2014/01/01/new-law-could-mean-higher-prices-on-mixed-/">New State Law Could Mean Higher Prices for Mixed Drinks</a></li>
    <li><a href="http://www.texastribune.org/2013/07/30/state-implement-sales-tax-mixed-drinks/">Mixed Views on Increased Beverage Tax</a></li>
  </ul>

  <section>
    <h2>Tax Code</h2>
    <blockquote cite="http://www.statutes.legis.state.tx.us/Docs/TX/htm/TX.183.htm">
      A tax at the rate of 6.7 percent is imposed on the gross receipts of a permittee received from the sale, preparation, or service of mixed beverages or from the sale, preparation, or service of ice or nonalcoholic beverages that are sold, prepared, or served for the purpose of being mixed with an alcoholic beverage and consumed on the premises of the permittee.
    </blockquote>
    <p>
    <a href="http://www.statutes.legis.state.tx.us/Docs/TX/htm/TX.183.htm">Chapter 183</a>
    </p>
  </section>

  <section>
    <h2>More Information</h2>
    <ul>
      <li><a href="http://www.window.state.tx.us/taxinfo/mixbev/">Mixed Beverage Gross Receipts Tax</a></li>
      <li><a href="http://www.window.state.tx.us/taxinfo/mixbev/mb_sales.html">Mixed Beverage Sales Tax</a></li>
      <li><a href="http://www.legis.state.tx.us/tlodocs/83R/billtext/html/HB03572F.htm">HB 3572 from 83R</a></li>
    </ul>
  </section>

  <p>
    Homepage:
    <a href="https://github.com/texas/tx_mixed_beverages">github/texas/tx_mixed_beverages</a>
  </p>

  <p>
    Geocoding:
  </p>
  <ul>
    <li>
      <a href="https://www.geocod.io">
        Geocodio
      </a>
    </li>
    <li>
      <a href="https://geoservices.tamu.edu">
        Texas A&amp;M University GeoServices
      </a>
    </li>
  </ul>

  <p>
    Date scraped: {% now "DATE_FORMAT" %}
  </p>
{% endblock %}
