@use "sass:color";

.axis {
  font-size: 0.75em;

  path,
  line {
    fill: none;
    shape-rendering: crispEdges;
    stroke-width: 1;
    stroke: black;
  }
}

svg {
  .bar-liquor {
    fill: #856f5f;
    stroke: color.scale(#856f5f, $lightness: -20%);
  }
  .bar-wine {
    fill: #813545;
    stroke: color.scale(#813545, $lightness: -10%);
  }
  .bar-beer {
    fill: #f28e1c;
    stroke: color.scale(#f28e1c, $lightness: -20%);
  }
  .bar-cover {
    fill: #7b9a6d;
    stroke: color.scale(#7b9a6d, $lightness: -30%);
  }
  .bar-total {
    fill: none;
  }
}
