.Nav {
  background: rgba(255, 255, 255, 0.8);
  padding: 0.5em;
  .loading {
    display: none;
  }
  &.status-loading {
    > .loading {
      display: block;
    }
    > .info {
      display: none;
    }
  }
  .help {
    color: gray;
    font-style: italic;
    margin: 0;
  }
  &.leaflet-bar {
    // override .leaflet-bar styling
    a {
      width: 100%;
    }
  }

  .search {
    width: 100%;
  }
}

.Nav--range-picker {
  > * {
    vertical-align: top;
  }
}
