.Nav {
  background: rgba(255, 255, 255, 0.8);
  padding: 0.5em;
  .loading {
    display: none;
  }
  &.status-loading {
    > .loading {
      display: block;
    }
    > .info {
      display: none;
    }
  }
  .help {
    color: gray;
    font-style: italic;
    margin: 0;
  }
  &.leaflet-bar {
    // override .leaflet-bar styling
    a {
      width: 100%;
    }
  }

  .search {
    width: 100%;
  }
}

.Nav--range-picker {
  display: flex;
  .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    label {
      align-self: center;
      grid-column-start: 1;
      grid-row-start: 1;
      grid-row-end: span 2;
    }

    .date-feedback {
      justify-self: center;
    }
  }
}
